<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <h1>LOGIN</h1>
    
    <form action="/user/login" method="post">
            <label for="email">Email:</label><br>
            <input id="UserId "type="text" name="email" placeholder="e.g email@gmail.com"><br><br>
            <label for="password"">password:</label><br>
            <input id="UserId"type="password" name="password"><br><br>
            <input class="waves-effect waves-light btn" type="submit" value="login">
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>