<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Platform</title>
</head>
<body>
        <table border="1">
            <tr>
              <th>Nama Platform</th>
              <th>Harga langganan bulanan</th>
              <th>ACTION</th>
            </tr>
            <% data.forEach(el => {%>
            <tr>
              <td><%= el.name%></td>
              <td><%= el.price%></td>
              <td><a href="/platform/<%= el.id %>"> MAU JOIN!</a></td>
            </tr>
            <%})%>
          </table>
         <a href="/admin/add">ADD</a>
</body>
</html>