<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="widtd=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>
                NAME
            </th>
            <th>
                price
            </th>
            <th>
                Total Members
            </th>
        </tr>
        <tr>
            <td>
                <%= data1.name %>
            </td>
            <td>
                <%= data1.price %>
            </td>
            <td>
                <%= data1 %>
            </td>
        </tr>
    </table>
    <div><button><a href="/platform/<%= subs.id/add"></a>JOIN DONG!</button></div>
</body>
</html>